#
*.html
*.s90
*.obj
*.bin
*.r90
*.pbd
*.bat
*.hh1
*.o
*.hexx
*.dep
Release/
Debug/
*.out
#*.wsdt
#settings/
*.wsdt
!cstartup_M.s
Doxyfile
*.dnx
*.general.xcl
*.driver.xcl
*.reggroups
*.ewt
*.ps1
*.crun
*.dbgdt









